<nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">
    <div class="container-fluid">
        <a href="" class="navbar-brand">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapse">
            <div class="navbar-nav">
                <a href="/" class="nav-link">Home</a>
                <a href="/campgrounds" class="nav-link">Campgrounds</a>
                <a href="/campgrounds/new" class="nav-link">New Campground</a>
            </div>
        </div>

    </div>
</nav>