
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 2px;
    margin-bottom: 2px;
}
@keyframes shake {
    0%,100%  { transform: translateX(0);}
    25% { transform: translateX(-5px);}
    50% { transform: translateX(5px);}
    75% { transform: translateX(-5px);}
}
.invalid {
    border: 1px solid red;
    animation: shake 0.5s ease-in-out;
}
.valid{
    border: 2px solid greenyellow;
    
}